
.active {
  font-weight: bold;
  background-color: #369;
  color: #fff;
}
ul,li {
  list-style: none;
}
ul {
  display: flex;
  flex-direction: row;
  gap: .75rem;
  li{
    a {
      text-decoration: none;
      border: 1px solid #999;
      border-radius: 50%;
      padding:7px 10px;
    }
  }
}
