<div class="grid">
  <table>
    <thead>
    <tr>
      @for (header of headers(); track header.title) {
        <th [style.width]="header.width" >
          <a href="#"  (click)="sort($event, header.title)">
          {{ header.title }}
          </a></th>
      }
    </tr>
    </thead>
    <tbody>
      @for (asset of rows(); track asset.id) {
        <tr>
          <td >{{ asset.rank }}</td>
          <td  >{{ asset.symbol }}</td>
          <td  >{{ asset.name }}</td>
          <td >{{ asset.priceUsd }}</td>
          <td>{{ asset.changePercent24Hr || '' }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
