.crypto-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.crypto-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.crypto-table th {
  cursor: pointer;
  font-weight: bold;
}
.crypto-table thead th,
.crypto-table tbody td {
  padding: 12px 15px;
  text-align: center;
}
.crypto-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.crypto-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.crypto-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.crypto-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


